* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "SegoeexchangeDetailBox UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    min-width: 320px;
    font-size: 14px;
    color: #030004;
    line-height: 1.5;
}

ul, ol, li, dl, dt, dd {
    list-style: none;
    float: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    vertical-align: middle;
}

th {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #030004;
    outline: none;
}

em, i {
    font-style: normal;
}

a, input ,button{
    border: 0 none;
    outline:0 none;
}

input[type=radio], input[type=checkbox] {
    vertical-align: middle;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

img{
    display:block;
    width:100%;
}

/*input placeholder*/
input:-ms-input-placeholder{color:#999999;font-size:12px;}/* IE浏览器 */
input::-moz-placeholder{color:#999999;font-size:12px;} /* Firefox版本19+ */
input:-moz-placeholder{color:#999999;font-size:12px;}/* Firefox版本4-18 */
input::-webkit-input-placeholder{color:#999999;font-size:12px;}/* 使用webkit内核的浏览器 */

/*显示省略号*/
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*垂直居中*/
.flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;/*这里可以不写，flex布局默认方向横向即row*/
    justify-content: center;
    align-items: center;
}

/*控制行数*/
.line-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;            /*设置p元素最大4行，父元素需填写宽度才明显*/
    text-overflow: ellipsis;
    overflow: hidden;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    /*因为代码环境的关系-webkit-box-orient被过滤掉了 autoprefixer 这个关键字可以免除被过滤的动作*/
　　word-wrap:break-word;
　　word-break:break-all;
}

html,body{
    margin:0;
    height:100%;
}
